body {
  font-family: 'Inter';
}
button {
  font-family: inherit;
}
body {
  color: var(--color-black-soft);
  line-height: 1.5;
}

@font-face {
  font-family: 'Inter';
  font-weight: 100 900;
  font-stretch: 75% 125%;
  /* https://chatgpt.com/c/691dd03d-c238-832a-b337-ddf118570446
  font-style: oblique 0 12deg;
  */
  src: url('./Inter-Var.ttf') format('truetype-variations');
}
