body {
  margin: 0;
  font-size: 1.6em;
}

h1 {
  font-size: 3.4rem;
}

#footer {
  position: absolute;
  height: var(--footer-height);
  bottom: 0;
  left: 0;
  font-size: 0.7em;
  color: #888;
  display: flex;
  width: 100%;
  align-items: center;
  justify-items: center;
  justify-content: center;
}

#footer-content {
  display: flex;
  justify-content: space-between;

  & > * {
    --padding: 30px;
    padding-left: var(--padding);
    padding-right: var(--padding);
  }
}

#slide-wrapper {
  height: 100vh;
  --footer-height: 70px;
  padding-bottom: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
#slide-content {
  width: 800px;
  margin: auto;
}
*/
