body {
  margin: 0;
  font-size: 1.6em;
}
h1 {
  font-size: 3.4rem;
}

#footer {
  position: absolute;
  height: var(--footer-height);
  bottom: 0;
  left: 0;
  font-size: 0.7em;
  --width: 400px;
  color: #888;
  width: var(--width);
  margin-left: calc((100vw - var(--width)) / 2);
  display: flex;
  justify-content: space-between;
}

#slide-wrapper {
  height: 100vh;
  --footer-height: 70px;
  padding-bottom: var(--footer-height);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
#slide-content {
  width: 800px;
  margin: auto;
}
*/

